.main__actividades{
    flex-wrap: wrap;
    justify-content:center ;
    padding-bottom: 20px;
}
.subtitle{
    width: 100%;
    text-align: center;
    margin: 10px;
}
/*
    SECCION GALERIA
*/

.imagenesContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    
}

.galeryBox{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    background-color: var(--green);
    padding: 10px 0;
    border-radius: 30px;
    box-shadow: -1px -1px 10px 5px gray;
}

.galeryBox img{
    width: 150px;
    cursor: pointer;
    border-radius: 10px;

}

.bigBox{
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: rgb(0,0,0,.5);
    position: fixed;
    z-index: 99;
    top: 0;
    align-items: center;
    display: none;
}

.bigBox img{
    height: 80%;
    margin: auto;
}

.bigBox span{
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;

}
/*
    SECCION ACTIVIDADES
*/
.cards__actividades{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.actividadCard{
    position: relative;
    width: 300px;
    height: 400px;
    background: #000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.imgActividad{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 10px 1px gray;
}

.imgActividad img{
    position: relative;
    right: 150px;
    height: 100%;
    transition: .5s;
}

.actividadCard:hover .imgActividad img{
    opacity: .5;
    transform: translateX(40%);
}

.infoBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: var(--blue);
    transition: .5s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}

.actividadCard:hover .infoBg{
    transform: perspective(2000px) rotateY(0deg);
}

.infoActividad{
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
}


/*
    TALLERES
*/
.main__talleres{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.cardTaller{
    width: 350px;
    height: 250px;
    background-color: aliceblue;
    position: relative ;
    border-radius: 20px;
    box-shadow: 0 0 8px 3px;
    overflow: hidden;
    
}


.cardTaller__img{
    width: 100%;
    height: 100%;
    background-image: url('../img/taller.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    place-content: center;

}

.cardTaller__img h3{
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    font-size: 3.6rem;
    transition: .75s all ease-in-out;
}

.cardTaller__info{
    width: 110%;
    height: 100%;
    background-color: rgba(91, 91, 90, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(90%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    transition: .75s all ease-in-out;
}

.cardTaller__info p{
    font-size: 1.6rem;
    color: white;
}

.cardTaller__info .row{
    margin-right: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.cardTaller:hover .cardTaller__info{
    transform: translateX(0);
    transition: .75s all ease-in-out;
}

.cardTaller:hover .cardTaller__img h3{
    transform: translateX(-130%);
    transition: .75s all ease-in-out;
}